
 body{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.container{
    width: 60%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.child{
    width: 250px;
    height: 350px;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: background 0.8s ease;
}


.child img{
    width: 100%;
    height: 100%;
    transition: opacity 0.8s ease, height 0.8s ease;
}


.child p{
    opacity: 0;
    transition: opacity 0.8s ease;
    text-align: center;
    margin: 10px 0;
}


.child:hover img{
    opacity: 0;
    height: 0;
}

.child:hover{
    background: linear-gradient(135deg, #cc2b5e 0%, #753a88 100%);
}

.child:hover p{
    opacity: 1;
}

span{
    font-weight: bold;
}
