body{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 655px;
    width: 655px;
    
    
    
}
.parent{
    border: 1px solid;
    height: 80px;

}
.parent{
    display: flex;
}
.child{
    height: 100%;
    width: 100px;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}

.parent-1>.child:nth-child(odd){
    background-color: bisque;

}
.parent-1>.child:nth-child(even){
    background-color: green;
}
.parent-2>.child:nth-child(even){
    background-color: bisque;

}
.parent-2>.child:nth-child(odd){
    background-color: green;
}
.child>img{
    height:50% ;
    width: 50%;
    transition: all 0.8s;
}
.child:hover img{
    height:85%;
    width: 85%;
    
}

