* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
    background: black;
    color: white;
    padding: 30px;

    position: relative;
    
    
}


.nav-items {
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}


#menu {
    display: none;
}


.menu-icon {
    margin-left: auto;
    cursor: pointer;
}

.bi-list {
    display: none;
    font-size: 28px;
}


@media (max-width: 768px) {

    .nav-items {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: black;
        flex-direction: column;
        width: 200px;
        padding: 10px;
    }

    .nav-items div {
        padding: 8px 0;
        
    }

    .bi-list {
        display: block;
    }

    
    #menu:checked ~ .nav-items {
        display: flex;
    }
}
