.container{
    margin-left: 500px;
    position: relative;
    
}
.container-1{
    border: 2px solid;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    margin-left: 150px;
    background-color: white;
}
.child-1{
    border: 2px solid black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: orange;
    margin-left: 50px;
    margin-top: 40px;
    position: absolute;


}
.child-2{
    border: 2px solid black;
    width: 600px;
    height: 200px;
    background-color: green;
    
}





