.nav-bar{
    border:1px solid;
    display: flex;
    justify-content: space-between;
    padding:5px;
    background-color: black;
    color:white;
    
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}
.nav-items{
    
    display: flex;
    width:40%;
    justify-content: space-around;
    padding:10px;
    

}
.search{
    padding: 10px;
    font-size: 20px;
}
.img{
    position: relative;
}
.child-1{
    position: absolute;
    top:600px;
    left:500px;
    color:white;
    text-align: center;
}
.body{
    
    
    width: 60%;
    margin:auto;
    padding-top: 50px;
    
    
}
.body h1,h5{
    text-align: center;
}
.body p{
    text-align: justify;
}
.pics div{
    width: 30%;
}

.pics{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    

}
.pics img{
    width: 100%;
    height: 250px;
}
.pics h3{
    text-align: center;
}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    
}
