.nav-bar{
    border:1px solid;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
    color: white;
    height: 30px;
     position: fixed;   
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}
.image1 > img{
    width: 100%;
    height: 600px;
}
.image1{
    position:relative;
}
.image1 img+span{
    position:absolute;
    top:190px;
    left:620px;
    font-size: 100px;
    color:white;

}
.span-1{
    position: absolute;
    bottom:50px;
    left:30px;
    background-color: black;
    color: white;
    padding: 5px;
}
.span-2{
    position: absolute;
    bottom:20px;
    right:30px;
    color: white;
    padding: 5px;

}
/* .about{
    border: 2px solid;
    margin-top: 20px;
    width: 600px;
    margin-left: 500px;
}
.about >span{
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 620px;
    font-size: 20px;
    
    
} */
 .about{

    margin: 20px auto;   /* centers the div */
    width: 700px;
    padding: 20px;
}

.about > span{
    
    display: block;        
    text-align: center;   /* centers text */
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 80px;
    padding:3px;
    width: 200px;
    margin-left: 200px;
    margin-top: 30px;

    
}
.about p{
    font-size: 20px;
}
.about div{
    
    border-left: 10px solid;
    border-color:antiquewhite;
}
.about div>p{
    font-style: italic;
}
.about img{
    width: 100%;
}
.about p> span{
    font-weight: bold;
}
input{
    border: 1px solid;
    width: 100%;
    height: 50px;
}
textarea{
    border: 1px solid;
    width: 100%;
    height: 50px;

}
button{
    background-color: black;
    color: white;
    padding: 10px;
}

