body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border:1px solid;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: hidden;
   
}
.child{
    
    width: 10px;
    border: 1px solid red;
    margin: 10px;
    border-radius: 5px;
    animation-name: x;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* transition: all 10s; */
    background-color: white;
    
}
.child:nth-child(1) { animation-delay: 0s; }
.child:nth-child(2) { animation-delay: 0.1s; }
.child:nth-child(3) { animation-delay: 0.2s; }
.child:nth-child(4) { animation-delay: 0.3s; }
.child:nth-child(5) { animation-delay: 0.4s; }
.child:nth-child(6) { animation-delay: 0.3s; }
.child:nth-child(7) { animation-delay: 0.2s; }
.child:nth-child(8) { animation-delay: 0.1s; }
.child:nth-child(9) { animation-delay: 0s; }

    
@keyframes x {
    0% {
        transform: scaleY(0.2);
    }
    50% {
        transform: scaleY(1.5);
    }
    100% {
        transform: scaleY(0.2);
    }
}