body {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

html {
    scroll-behavior: smooth;
}


.menu {
    background: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0;
}


.menu table {
    width: 100%;         
    text-align: center;  
    margin:0 auto;
}

.menu td {
    padding: 10px;      
}
.intro {
    text-align: center;
    margin-top: 30px;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    color:aquamarine;
}
h2 {
    margin-top: 80px;
    font-size: 30px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}


p {
    font-size: 20px;
    line-height: 1.6;
}
.skills-box {
    margin: 20px;
    padding: 10px;
}

.skills-box h3 {
    margin-top: 20px;
}

.project {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:white;
}

.project h3 {
    margin-bottom: 10px;
    color:skyblue;
}

.project p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.project a {
    text-decoration: none;
    color:navy;
    font-weight: bold;
}

.project a:hover {
    color:skyblue;
}





