/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    background: #f5f5f5;
}

.image-container img {
    width: 500px;
    animation: rotateFromBottomRight 1.5s ;
    /* transform-origin: bottom right; */


/* Animation */
/* @keyframes rotateFromBottomRight {
    0% {
        transform: translate(300px, 300px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
} */ 

html {
  scroll-behavior: smooth;
}
 .nav-bar{
    background-color: white;
    color: black;
    height: 15vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position:sticky;
    top:-30px;

    z-index: 2;

 }
 .nav-items-2{
    margin-right: 20px;
 }
 .item ul {
    list-style: none;
    display: flex;         
    gap: 25px;              
    margin: 0;
    padding: 0;
}
.section-1{
    display: flex;
    height:110vh;
    width: 90%;
    margin-left: 5%;
    margin-right:10%;
    

    position: relative;
}
.sec-1{
    width: 50%;
    height: 90vh;

    background-color:#f6f6f6;

    position: relative;
}
.sec-2{
    width: 50%;
    height: 80vh;
    
}
.sec-2 img{
    width: 100%;
    height: 100%;
    
    animation: rotateFromBottomRight 1.5s ;
}
/* .sec-2 span {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: orangered;

    display: flex;              
    align-items: center;        
    justify-content: center;    
}
.bi-plus{
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
} */

.sec-2 {
    position: relative;
}




.animated-circle {
    position: absolute;
    top: 21%;
    left: 65%;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(110, 106, 106);

    border: 2px solid rgba(0,0,0,0.3);

    animation: zoomOut 3s infinite;
}


.white-circle {
    position: absolute;
    top: 24%;
    left: 68%;

    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}



  .main-circle {
    width: 30px;
    height: 30px;
    background: orangered;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-plus {
    color: white;
    font-size: 2rem;
    font-weight:bolder
}


.animated-circle-1 {
    position: absolute;
    top: 45%;
    left: 27%;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(110, 106, 106);

    border: 2px solid rgba(0,0,0,0.3);

    animation: zoomOut 3s infinite;
}


.white-circle-1 {
    position: absolute;
    top: 48%;
    left: 30%;

    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}



  .main-circle-1 {
    width: 30px;
    height: 30px;
    background: orangered;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-1 {
    color: white;
    font-size: 2rem;
    font-weight:bolder
}





.section-1>p{
    
    position: absolute;
    bottom: 3%;
    left: 35%;
    
}
.sec-1 button{
    
    border-radius: 15px;
    border: 2px solid;
    width: 8vw;
    background-color: black;
    color: white;
    padding: 1%;

    position: absolute;
    top:25%;
    left: 15%;

    animation-name: btn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
.sec-1 .p1{
    font-size: 4rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
     position: absolute;
    top:25%;
    left: 15%;
}
.p2{
    color: grey;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:55%;
    left: 15%;

}
.two{
    
    position: absolute;
    left:-280px;

    width: 250px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    padding-top: 15px;
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    transition: 0.3s;


}
.white-circle:hover >.two{
    opacity: 1;
    visibility: visible;
}
.one{
    
    position: absolute;
    left:60px;

    width: 250px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    padding-top: 15px;
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    transition: 0.3s;


}
.white-circle-1:hover >.one{
    opacity: 1;
    visibility: visible;
}
.section-3{
    height:100vh;
    width: 85%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:8%;
    margin-top: 1%;

    position: relative;
}
.img-1{
    position: relative;
}
.sec-3{
    position: absolute;
    top:15%;
    left:35%;
    
    height: 40vh;
    width: 15vw;
}

.sec-3 button{
    
    border-radius: 15px;
    border: 2px solid;
    width: 8vw;
    background-color: black;
    color: white;
    padding: 5%;

    position: absolute;
    top:10%;
    left: 15%;

    animation-name: btn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
.sec-3>p{
    margin-top: 40%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-3>.show-1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    top:80%;
    left:10%;

}
.img-2{
    position: relative;
}
.sec-4>p{
    margin-top: 40%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-4>.show-2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    top:80%;
    left:10%;

}
.sec-4{
    position: absolute;
    top:15%;
    left:35%;
    
    height: 40vh;
    width: 15vw;
}
.img-3{
    position: relative;
}
.sec-5{
    position: absolute;
    top:15%;
    left:35%;
    
    height: 40vh;
    width: 15vw;
}

.sec-5 button{
    
    border-radius: 30px;
    border: 2px solid;
    width: 5vw;
    background-color:orangered;
    color: white;
    padding: 5%;

    position: absolute;
    top:10%;
    left: 15%;

    animation-name: btn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}
.sec-5>p{
    margin-top: 40%;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-5>.show-3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    top:80%;
    left:10%;

}
.sec-6{
    display: flex;
    justify-content:space-evenly;
    width:80vw;

}
.section-6{
    margin-top: 1%;
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    background-color:#f6f6f6;
}
.img-section{
    
    height: 90vh;
    width: 40%;
    padding-left: 12%;

    position: relative;
    top:10%;
}
.sec-7{
    
     height: 90vh;
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: space-between;
     

}
.img-6,.img-5{
    display: none;
}
input[type="radio"] {
    display: none;
}
#img5:checked ~ .img-5 {
    display: block;
}


#img6:checked ~ .img-6 {
    display: block;
}
.btn {
    height: 30px;
    width:30px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-family: Arial;
    
    border-radius: 100%;
}
.orange {
    background: orange;
    position: absolute;
    top:90%;
    left: 10%;
}

.sky {
    background: slategray;
     position: absolute;
    top:90%;
    left: 80%;
}

.para-1{
    
    height: 10vh;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5rem;
     color: black;
     font-weight: lighter;
     font-weight: bolder;
}
.para-2{
    
    height: 10vh;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 2.5rem;
     color: black;
     font-weight: bolder;

}
.para-3{
    margin-top: 15%;
    width: 10vw;
    
    background-color: black;
    
    
     height: 6vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.para-3>a{
    color: white;
}
.para-3:hover{
    background-color: orangered;
}

.section-7{
     margin-top: 1%;
    height: 50vh;
    width: 100%;
    
    display: flex;
    justify-content: center;

}
.sec-8,.sec-9,.sec-10{
    border-right:1px solid gray;
    height: 50vh;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: 2%;
}
/* .item-1,.item-2,.item-3{
    border:1px solid red;
    height:100%;
    width: 100%;

} */
 .bi-clock,.bi-truck,.bi-wallet{
    font-size: 2rem;
    color: gray;
 }
 .item-3{
    text-align: center;
    color: gray;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    
 }
 .item-2{
    color: black;
    font-size:18px;
    
 }
 .section-8{
    margin-top: 5%;
    height: 120vh;
    width: 80.5vw;
    border: 1px solid;
    margin-left: 9%;
 }
 .sec-12{
    border:1px solid red;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .find{
    
    width: 10vw;
    
    background-color: black;
    text-decoration: none;
    
     height: 6vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.find:hover{
    background-color: orangered;
}
.sec-11{
    position: relative;
}


.animated-circle-2 {
    position: absolute;
    top: 17.2%;
    left: 13.4%;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(110, 106, 106);

    border: 2px solid rgba(0,0,0,0.3);

    animation: zoomOut 3s infinite;
}


.white-circle-2 {
    position: absolute;
    top: 21%;
    left: 15%;

    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;



}



  .main-circle-2 {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
.plus-2 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
.animated-circle-3 {
    position: absolute;
    top: 35%;
    right: 35.3%;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(110, 106, 106);

    border: 2px solid rgba(0,0,0,0.3);

    animation: zoomOut 3s infinite;
}


.white-circle-3 {
    position: absolute;
    top: 38%;
    right: 37%;

    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}



  .main-circle-3 {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
.plus-3 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
.dot-1,.dot-2{


    width: 250px;
    height: 20px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    padding-top: 15px;
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    transition: 0.3s;


}
.dot-1{
    position: absolute;
    top:25%;
    left:150%;
}
.dot-2{
    position: absolute;
    top:3%;
    right: -800%;
}
.white-circle-2:hover >.dot-1{
    opacity: 1;
    visibility: visible;
}
.white-circle-3:hover >.dot-2{
    opacity: 1;
    visibility: visible;
}

.section-9{
     margin-top: 5%;
    height: 150vh;
    width: 90vw;
    border-bottom: 1px solid grey;
    margin-left: 5%;

}
.sec-14{
    margin-top: 2%;
}
.sec-13,.sec-14{
    
    display: flex;
    height: 35%;
    width:100%;
    justify-content: space-around;
}
.items img{
    width:300px;
    height: 300px;
}
.items{
    
    width:25%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.info{
    height: 20%;
    
    display: flex;
    justify-content: space-between;

}
.info-1{
    
    
    height: 100%;
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.info-2{
    margin-right:10% ;
    margin-top: 1%;
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgray;

}
.info-2:hover{
    background-color: orangered;
    color: white;
}
.info-2:hover a{
    color: white;
}




.info-1 h3,
.info-1 p {
    margin: 0;             
    padding: 0;

}
.info-1 p{
    font-weight: bolder;
    font-size: 1.5rem;
}
.info-1 h3{
    font-family: Arial, Helvetica, sans-serif;

}

.info-1 {
    gap: 4px;              
}
.section-10{
    margin-top: 5%;
    
    height: 50vh;
    width: 90vw;
    text-align: center;
}
.section-10 input{
    border: 1px solid lightgray;
    height: 50px;
    width: 45%;
    color: gray;
    background-color: #f6f6f6;
}
.section-10 button{
    background-color: black;
    color: white;
    font-size: 1rem;
    height: 52px;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer{
    padding-left: 5%;
    width: 100%;
    height: 80vh;
    background-color: #f6f6f6;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item-4,.item-5,.item-6,.item-7{
    width: 20%;
    height:50vh;
    
}
.fa{
    font-size: 1.5rem;
}
.icons{
    display: flex;
    justify-content: space-between;
    
    height: auto;
    width: 100%;
}
.item-4{
    display: flex;
    flex-direction: column;
    gap:6%;
}
.item-4>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}
.item-4>h3{
    font-family: 'Montserrat', sans-serif;
}
.section-11{

    height: 85%;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.sec-15{
    
    height:20% ;
    width:100% ;
    display: flex;
    justify-content: space-between;
    
}
.pic-1{
    
    height: 100%;
    width:30%;
}
.pic-1 img{
    height: 100%;
    width: 100%;
}
.heading{
     
    height: 100%;
    width:50%;
    font-size: 1rem;
    font-weight: bolder;

}
.item-6,.item-7{
    display: flex;
    flex-direction: column;
    gap:8px;

    


}
.headin-2>a{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    
}
.section-12{
    background-color: #f6f6f6;
}
.copy{
    border-top: 1px solid lightgray;
    height: 13vh;
    width:90w;
}







@keyframes btn {
    from{
        transform:translateY(-40px);
    }
    to{
        transform: translateY(0px);
    }
    
}

@keyframes rotateFromBottomRight {
    0% {
        transform: translate(300px, 300px) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
}


@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 0.6;
    }
    to {
        transform: scale(1.1);
        opacity: 0;
    }
}

